@media only screen and (max-width: 1000px) {
  .container, .nearby--listings {
    padding: 0 2%;
  }
  
  #new_item {
    margin: 0 2%;
  }
}

@media only screen and (min-width: 1000px) {
  .nearby--listings {
    padding: 0 20px;
  }
  
  #new_item {
    margin: 0 20px;
  }
}

.notice, .alert {
  background: $siteGold;
  text-align: center;
  font-family: "Open Sans";
  color: white;
  text-transform: uppercase;
}

.tab-content {
  max-width: 1000px;
  margin: 0 auto;
}

.items {
	@include flexbox();
	@include flexbox-justify-content(space-between);
	@include flexbox-align-items(flex-start);
	@include flexbox-flex-wrap(wrap);
  padding-bottom: 5%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 1.5%;
}

.item {
  @include css3-calc('width', '100%/3 - 1em');
  background: white;
  margin-bottom: 4%;
}

.item--name {
  font-family: "Abolition Regular";
  font-size: 1.8em;
  padding-right: 5%;
  padding-left: 5%;
  height: 0;
  padding-bottom: 22%;
}

.username {
  font-family: "Playfair Italic";
  font-size: 1.5em;
}

.username a {
  color: $siteBlack;
  text-transform: uppercase;
}

.price {
  font-family: "Playfair Italic";
  color: #2b2b2b;
  text-align: center;
  font-size: 1.5em;
  margin: 5% auto 0.5% auto;
  border-top: 0.15em solid $siteBlack;
}

.item--name a {
  color: $siteBlack;
}

.price a {
  color: $siteBlack;
}

.tabs {
  margin: 0 auto;
}

.how--it--works h1 {
  font-family: "abolition";
  color: #2b2b2b;
  text-align: center;
  font-size: 3em;
}

.profile h2 {
  font-family: "abolition";
  color: white;
  letter-spacing: .2em;
}

.profile, .home {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.profile h2 a {
  font-family: "abolition";
  color: #c6bd77;
  text-decoration: none;
}

body {
  margin: 0;
}
    
.container {
  width: 100%;
  margin: 0 auto;
}

ul.tabs {
  list-style: none;
}

ul.tabs li {
  background: $siteGold;
  color: $siteBlack;
  display: inline-block;
  padding: .8% 3% 1.2% 3%;
  cursor: pointer;
  margin-bottom: 0%;
  letter-spacing: .1em;
  margin-left: -1%;
}

.tab-content h1 {
    margin: 0;
    padding: 3% 0;
}

.tab--items {
	@include flexbox();
	@include flexbox-justify-content(space-between);
	@include flexbox-align-items(flex-start);
	@include flexbox-flex-wrap(wrap);
}

.tabs {
    max-width: 1000px;
}

.tab--item {
  @include css3-calc('width', '100%/3 - 1em');
  margin-bottom: 4%;
}

ul.tabs li.current {
  color: $siteBlack;
  padding: 1.7% 3% 1.3% 3%;
  letter-spacing: .1em;
  @include transform-translate(0, 4.5%);
}

.tabs-section--container {
    background: $siteGold;
}

.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}

.search--submit {
  position: relative;
}

#q {
  border: none;
  font-family: "Playfair Italic";
  font-size: 2.3em;
  width: 52.4%;
  margin: 0 auto;
  display: block;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6d6d6d;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #6d6d6d;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #6d6d6d;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #6d6d6d;
}

.search--submit input[type="submit"] {
  background: url(icons/search.png);
  border: none;
  height: 0;
  padding-bottom: 4%;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.search--home input[type="submit"] {
    background: url(icons/search.png);
    border: none;
    padding: 4.4% 0 0 6%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 1em;
    cursor: pointer;
}

.tab-link {
  font-family: "abolition";
  text-align: center;
  font-size: 1.5em;
}

.tab-content h1 {
  font-family: "abolition";
  text-align: center;
}

.tab-content h2 a {
  font-family: "abolition";
  color: #2b2b2b;
}

.tab--name h2 {
  margin: 14% 5%;
  font-size: 1.8em;
}

.tab--name {
  border-top: 3px solid $siteBlack;
  border-right: 3px solid $siteBlack;
  border-left: 3px solid $siteBlack;
  border-bottom: 3px solid $siteBlack;
  width: 75%;
  height: 0;
  vertical-align: middle;
  float: left;
  padding-bottom: 41%;
}

.edit {
  width: 103%;
  height: 0;
  padding-bottom: 82%;
}

.calendar {
  height: 0;
  padding-bottom: 89%;
}

.trash {
  width: 25%;
  height: 0;
  padding-bottom: 16.7%;
  padding-top: 1%;
  padding-right: 1%;
  border-right: 3px solid $siteBlack;
  border-bottom: 3px solid $siteBlack;
  float: left;
}

.item--photo img {
  margin-bottom: -1%;
}

.tab--item .item--photo {
  border-top: 3px solid #2b2b2b;
  border-right: 3px solid #2b2b2b;
  border-left: 3px solid #2b2b2b;
  border-bottom: none;
}

.item--photo {
  height: 0;
  padding-bottom: 65%;
}

.nearby--listings {
  width: 100%;
}

.top--buttons {
  width: 25%;
  border-right: 3px solid $siteBlack;
  border-bottom: 3px solid $siteBlack;
  border-top: 3px solid $siteBlack;
  float: left;
  padding-right: 0.65%;
}

.bottom--section {
  @include clearfix();
}

.item--page--photo {
  width: 67%;
  margin-top: -4%;
  padding: 0% 2.5% 5.5% 2.5%;
}

.item--page--photo img {
  width: 100%;
}

.tab-content .price {
  border-left: 3px solid $siteBlack;
  border-right: 3px solid $siteBlack;
  border-bottom: 3px solid $siteBlack;
  border-top: none;
  margin: 0;
  width: 75%;
  float: left;
  height: 0;
  padding-bottom: 14%;
  padding-top: 4%;
}

.item--page--title {
  font-family: "Playfair Italic";
  background: #c6bd77;
  font-size: 2em;
  text-transform: uppercase;
  padding: 2.5% 2.5% 5.5% 2.5%;
}

.item--page--title {
  padding-right: 39%;
}

.item--page--right--side {
  background: white;
  border: 1px solid #2b2b2b;
  width: 30%;
  position: absolute;
  top: 0;
  right: 3%;
  padding-bottom: 2%;
}

.pinpoint--container {
  padding: 4%;
}

.loan--approval h1 {
  font-family: "Playfair Italic";
  text-transform: uppercase;
}

.user--info.item--page {
  background: #2b2b2b;
  height: 70px;
  margin-top: 0%;
  width: 64.6%;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #2b2b2b, #2b2b2b, #2b2b2b); 
  background-image:    -moz-linear-gradient(left, #2b2b2b, #2b2b2b, #2b2b2b); 
  background-image:     -ms-linear-gradient(left, #2b2b2b, #2b2b2b, #2b2b2b); 
  background-image:      -o-linear-gradient(left, #2b2b2b, #2b2b2b, #2b2b2b); 
  width: 112%;
  margin-left: -6%;
}

.field span {
  font-family: "Abolition Regular";
  font-size: 1.7em;
  float: right;
  margin-right: 1.5em;
}

.field {
  @include clearfix();
}

#username a {
  color: white;
  margin: 1%;
}

.share--item h4 {
  text-align: center;
  font-family: "Open Sans";
  margin: 0;
}


.social {
  width: 100%;
	text-align: center;
}

.item--page--left--side, .item--page--title {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.distance--away {
  font-family: "Playfair Italic";
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3em;
}

.item--description {
  margin-top: 4%;
  padding: 2% 0% 6% 2%;
  font-size: 1.1em;
  width: 67%;
  font-family: "Open Sans";
}

#card_number, #loan_reserved_start {
  width: 86%;
}

#card_code {
  width: 24.8%;
}

.input-mini {
  width: 25%;
}

.field {
  margin-top: 3.5%;
}

#search--description {
  width: 100%;
  height: 0;
  padding-bottom: 10%;
}

.loan--request #stripe-button, #borrow--this {
  border: none;
  background: #c6bd77;
  font-family: "Abolition Regular";
  font-size: 2em;
  padding: 2% 13%;
  width: 100%;
  margin: 5% auto;
  display: block;
}

#new_loan p {
  font-family: "Open Sans";
}

.user--info.index {
  margin-top: 2%;
}

.items--number {
  color: white;
  font-family: "abolition";
  font-size: 2em;
  margin: -2% 5.5% 0% 2%;
  float: right;
  letter-spacing: .1em;
}

.user--info.item--page .square {
  margin-top: -1.8%;
}

.item--bottom {
  @include clearfix();
}

.edit img, .calendar img, .trash img {
  display: block;
  margin: 0 auto;
  padding: 2% 0;
}

#new_item {
  width: 55%;
  max-width: 550px;
  margin: 0 auto;
}

.edit {
  border-bottom: 3px solid #2b2b2b;
}

#q:focus {
  outline:none;
}

.profile {
  width: 82%;
  text-align: right;
  padding-right: 4%;
}

img {
  max-width: 100%;
}

.recent--listings {
  background: #2b2b2b;
}

.recent--listings h1 {
  font-family: "abolition";
  color: white;
  text-align: center;
  margin: 2% auto;
  padding-top: 2%;
}

.item--photo {
  border: .3em solid white;
}

.user--info {
  @include clearfix();
}

.arrow {
  float: right;
  padding-right: 3%;
  padding-top: 2%;
}

.pinpoint {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4%;
}

select, input[type="color" i][list] {
  border: 1px solid #2b2b2b;
  border-radius: 0px;
  background: white;
}

.fee {
  font-family: "Open Sans";
  position: absolute;
  bottom: -6%;
  right: 24%;
}

.loan--request.item--page {
  border-top: 1px solid #2b2b2b;
  padding: 5% 5% 0 5%;
}

.loan--request.item--page .field {
  font-family: "Open Sans";
  text-transform: uppercase;
}

.search-results--title {
  color: #6d6d6d;
  font-family: "Playfair Italic";
  font-size: 2.25rem;
  text-transform: uppercase;
  padding: 0 1rem;
  text-align: center;
}

#borrow--this {
    cursor: pointer;
}