#mc_embed_signup {
  clear:left; 
  font-family: "Playfair Italic"; 
  max-width: 1000px;
  margin: 0 auto;
}

#mc_embed_signup .mc-field-group input {
  width: 60%;
  font-size: 1.5em;
  padding: 1.3% 0 1.3% 3%;
  border: 1px solid white;
  margin: 0 auto;
}

#mc_embed_signup .mc-field-group {
  padding-bottom: 0;
}

#mc_embed_signup div.response {
  margin: 0 auto;
  padding: 3%;
  font-weight: bold;
  background: #2b2b2b;
  float: none;
  top: -1.5em;
  left: 0;
  right: 0;
  width: 100%;
}

#mc_embed_signup div#mce-responses {
  float: none;
  top: -1.4em;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  clear: both;
}

#mc_embed_signup #mce-success-response, #mc_embed_signup #mce-error-response {
  color: white;
}

a {
  text-decoration: none;
  color: #c6bd77;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #c6bd77;
  border: 0 none;
  border-radius: 0;
  color: #2b2b2b;
  cursor: pointer;
  font-family: "abolition";
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  margin-top: 1%;
}

#mc_embed_signup .button:hover {
  background-color: #c6bd77;
}

#mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0;
  padding: 1.3% 0 1.3% 0%;
  text-align: center;
  background-color: #6B0505;
  font-weight: bold;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #c6bd77;
  border: 0 none;
  border-radius: 0;
  color: #2b2b2b;
  cursor: pointer;
  font-family: "abolition";
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 50px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: 191.5%;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 100%;
  padding-bottom: 3%;
  min-height: 50px;
}

#mc_embed_signup .mc-field-group input {
  width: 100%;
  font-size: 1.5em;
  padding: 1.3% 0 1.3% 3%;
  border: 1px solid white;
  margin: 0 auto;
}

#mc_embed_signup .clear {
  width: 100%;
  margin: 0 auto;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #c6bd77;
  border: 0 none;
  border-radius: 0;
  color: #2b2b2b;
  cursor: pointer;
  font-family: "abolition";
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 10px 50px 40px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 0;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 100%;
  padding-bottom: 3%;
  min-height: 50px;
}

#mc_embed_signup .mc-field-group {
  padding-bottom: 0;
}

div#mc_embed_signup_scroll {
  width: 45%;
  margin: 3% auto;
}

#mc_embed_signup .mc-field-group {
  min-height: 0;
}

#mce-EMAIL:focus {
  outline: none; 
}

.email{
  font-family: "Playfair Italic";
  width: 60%;
  background: rgba(255, 255, 255, 0.6);
}