@font-face {
    font-family: 'abolition';
    src: asset-url('abolition-regular-webfont.eot');
    src: asset-url('abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('abolition-regular-webfont.woff2') format('woff2'),
    asset-url('abolition-regular-webfont.woff') format('woff'),
    asset-url('abolition-regular-webfont.ttf') format('truetype'),
    asset-url('abolition-regular-webfont.svg#abolitionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'steelfish';
    src: asset-url('steelfish_eb-webfont.eot');
    src: asset-url('steelfish_eb-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('steelfish_eb-webfont.woff') format('woff'),
    asset-url('steelfish_eb-webfont.ttf') format('truetype'),
    asset-url('steelfish_eb-webfont.svg#steelfish_eb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Italic';
    src: asset-url('playfairdisplay-italic-webfont.eot');
    src: asset-url('playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('playfairdisplay-italic-webfont.woff') format('woff'),
    asset-url('playfairdisplay-italic-webfont.ttf') format('truetype'),
    asset-url('playfairdisplay-italic-webfont.svg#playfairdisplay-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: asset-url('opensans-condlight-webfont.eot');
    src: asset-url('opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('opensans-condlight-webfont.woff') format('woff'),
    asset-url('opensans-condlight-webfont.ttf') format('truetype'),
    asset-url('opensans-condlight-webfont.svg#opensans-condlight') format('svg');
    font-weight: normal;
    font-style: normal;
}