@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplaysc-italic-webfont.eot');
    src: url('../fonts/playfairdisplaysc-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/playfairdisplaysc-italic-webfont.woff2') format('woff2'),
    url('../fonts/playfairdisplaysc-italic-webfont.woff') format('woff'),
    url('../fonts/playfairdisplaysc-italic-webfont.ttf') format('truetype'),
    url('../fonts/playfairdisplaysc-italic-webfont.svg#playfair_display_scitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'abolition';
    src: url('../fonts/abolition-regular-webfont.eot');
    src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/abolition-regular-webfont.woff2') format('woff2'),
    url('../fonts/abolition-regular-webfont.woff') format('woff'),
    url('../fonts/abolition-regular-webfont.ttf') format('truetype'),
    url('../fonts/abolition-regular-webfont.svg#abolitionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}