@import "fonts";
@import "variables";
@import "header";
@import "home";
@import "search";


@mixin clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
		content: "";
	}
	&:after {
		clear: both;
	}
}

.items {
  @include clearfix();
  padding-bottom: 5%;
}

.item {
  float: left;
}

.tabs {
  margin-left: 4%;
}

.hero {
    height: 350px;
    width: 100%;
    background: url('https://s3.amazonaws.com/lemonly-product/3108399560_e3cdfbccf9_o.jpg') no-repeat 50% 50% / cover;
}

.hero h1 {
  margin: 0;
  font-family: "abolition";
  color: #2b2b2b;
  text-align: center;
  padding-top: 4%;
  font-size: 4em;
}

.how--it--works h1 {
  font-family: "abolition";
  color: #2b2b2b;
  text-align: center;
  font-size: 3em;
}

.profile h2 {
  font-family: "abolition";
  color: white;
}

.profile, .home {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.profile h2 a {
  font-family: "abolition";
  color: #c6bd77;
  text-decoration: none;
}

body{
			margin: 0;
		}
		.container{
			width: 100%;
			margin: 0 auto;
		}



		ul.tabs{
			margin-bottom: 0px;
      margin-right: 0px;
      margin-top: 0px;
			padding: 0px;
			list-style: none;
		}
    
		ul.tabs li{
      background: #c6bd77;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
      border-top: 3px solid #2b2b2b;
      border-right: 3px solid #2b2b2b;
      border-left: 3px solid #2b2b2b;
      margin-bottom: 0%;
      transform: translateY(5px);
		}
    
    .tab--item {
      width: 31%;
      float: left;
      margin-left: 1%;
      margin-right: 1%;
    }

		ul.tabs li.current{
      background: white;
      border-top: 3px solid #2b2b2b;
      border-right: 3px solid #2b2b2b;
      border-left: 3px solid #2b2b2b;
      border-bottom: 3px solid white;
      color: #222;
      margin-bottom: -3px;
      padding: 15px 15px;
      transform: translateY(0px);
		}

		.tab-content{
			display: none;
			background: white;
			padding: 15px;
      border-top: 3px solid #2b2b2b;
      @include clearfix();
		}

		.tab-content.current{
			display: inherit;
		}

#q {
  border: none;
  font-family: "Playfair Italic";
  font-size: 3em;
  width: 90%;
}

//::-webkit-input-placeholder { /* WebKit browsers */
//    color:    #2b2b2b;
//}
//:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//   color:    #2b2b2b;
//   opacity:  1;
//}
//::-moz-placeholder { /* Mozilla Firefox 19+ */
//   color:    #2b2b2b;
//   opacity:  1;
//}
//:-ms-input-placeholder { /* Internet Explorer 10+ */
//   color:    #2b2b2b;
//}

#home_search {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-right: none;
  font-family: "Playfair Italic";
  font-size: 1.5em;
  padding: 1.3% 0 1.3% 3%;
  width: 60%;
  background: rgba(255, 255, 255, 0.6);
}

.item--name {
  padding-left: 5%;
}

.search--submit input[type="submit"]
{
  background: url(search.png);
  border: none;
  padding: 1.2% 2%;
  background-repeat: no-repeat;
  transform: translateY(-15px);
  margin-left: 5%;
}

.search--home input[type="submit"] {
  background: url(search.png) rgba(255, 255, 255, 0.6);
  border: none;
  padding: 2.04% 3% 2.9%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateY(-6px);
  margin-left: -0.5%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.header--right {
  width: 90%;
  display: inline-block;
}

.tab-link{
  font-family: "abolition";
  text-align: center;
  font-size: 1.5em;
}

.tab-content h1 {
  font-family: "abolition";
  text-align: center;
}

.tab-content h2 a {
  font-family: "abolition";
  color: #2b2b2b;
}

.tab--name h2 {
  margin: 0;
  font-size: 1.9em;
}

.tab--name {
  border-top: 3px solid #2b2b2b;
  border-right: 3px solid #2b2b2b;
  border-left: 3px solid #2b2b2b;
  border-bottom: 3px solid #2b2b2b;
  padding: 3.8% 3%;
  width: 65%;
  float: left;
}

.edit {
  width: 103%;
}

.item--photo img {
  margin-bottom: -1%;
}

.tab--item .item--photo {
  border-top: 3px solid #2b2b2b;
  border-right: 3px solid #2b2b2b;
  border-left: 3px solid #2b2b2b;
  border-bottom: none;
}

.top--buttons {
  width: 26%;
  border-right: 3px solid #2b2b2b;
  border-bottom: 3px solid #2b2b2b;
  border-top: 3px solid #2b2b2b;
  float: left;
  padding-right: 0.65%;
}

.bottom--section {
  @include clearfix();
}

.item--page--photo {
  width: 60%;
  margin-left: 1%;
  margin-top: -4%;
}

.item--page--photo img {
  width: 100%;
}

.tab-content .price {
  border-left: 3px solid #2b2b2b;
  border-right: 3px solid #2b2b2b;
  border-bottom: 3px solid #2b2b2b;
  border-top: none;
  margin: 0;
  width: 65%;
  padding: 3%;
  float: left;
  padding: 2.9% 3%;
}

.item--page--title {
  font-family: "Playfair Italic";
  background: #c6bd77;
  font-size: 2em;
  text-transform: uppercase;
  padding: 2.5% 2.5% 5.5% 2.5%;
}

.item--description {
  font-family: "Open Sans";
}

.item--page--right--side {
  width: 30%;
  position: fixed;
  top: 49%;
  right: 0;
}

.item--page--right--side {
  background: white;
}

.user--info.item--page {
  background: #2b2b2b;
  height: 70px;
  margin-top: 5%;
  width: 61%;
}

#username a {
  color: white;
  margin: 1%;
}

.item--description {
  margin-top: 4%;
  padding: 2%;
  font-size: 1.2em;
}

.user--info.index {
  margin-top: 2%;
}

.items--number {
  color: white;
  font-family: "abolition";
  font-size: 2em;
  margin: 1.5%;
  float: right;
}

.user--info.item--page .square {
  margin-top: -1.8%;
}

.item--bottom {
  @include clearfix();
}

.trash {
  width: 26%;
  border-right: 3px solid #2b2b2b;
  border-bottom: 3px solid #2b2b2b;
  float: left;
  padding-right: .65%;
  padding-bottom: 0.9%;
}

.edit img, .calendar img, .trash img {
  display: block;
  margin: 0 auto;
  padding: 2% 0;
}

#new_item {
  width: 70%;
  margin: 0 auto;
  margin-left: 24%;
}

.edit {
  border-bottom: 3px solid #2b2b2b;
}

#q:focus {outline:none;}

.header {
    background: #2b2b2b;
    padding: 0 4%;

    .home {
        font-size: 2.625rem;
        color: white;
        font-family: "abolition";
        
    }
    
    .home a {
      text-decoration: none;
    }

    .button {
        font-size: 1.5rem;
    }
}

.login {
  background: #c6bd77;
  font-family: "abolition";
  border: .3em solid #c6bd77;
}

.login a {
  color: #2b2b2b;
  text-decoration: none;
}

.signup a, .logout a, .login--button a {
  text-decoration: none;
}

.signup a, .logout a {
  color: white;
  text-decoration: none;
}

.login--button a {
  color: #2b2b2b;
}

.signup, .logout, .login--button {
  font-family: "abolition";
  width: 10%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1.7em;
  padding: 0 1%;
}

.login--section {
  text-align: right;
}

.signup, .logout {
  background: #2b2b2b;
  border: 3px solid white;
}

.login--button {
  background: #c6bd77;
  border: 3px solid #c6bd77;
  margin-right: 1%;
}

.profile {
  width: 82%;
  text-align: right;
  padding-right: 4%;
}

img {
  max-width: 100%;
}

.square {
  width: 100px;
  height: 100px;
  margin: 25px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  margin-top: -16%;
  border: .3em solid white;
  float: left;
  vertical-align: middle;
}

.pic {
  width: 150px;
  height: 150px;
  margin: -25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login, .signup {
  display: inline-block;
}

.recent--listings {
  background: #2b2b2b;
}

.recent--listings h1 {
  font-family: "abolition";
  color: white;
  text-align: center;
}

.item {
  width: 31%;
  background: white;
  margin: 0 1%;
}

.item--photo {
  border: .3em solid white;
}

.username a {
  font-family: "Playfair Italic";
  color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
  vertical-align: middle;
  font-size: 1.3em;
}

.item--name a {
  font-family: "steelfish";
  color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8em;
}

.price {
  font-family: "Playfair Italic";
  color: #2b2b2b;
  text-align: center;
  font-size: 1.5em;
  margin: 5% auto;
  border-top: .3em solid #2b2b2b;
}

.price a {
  color: #2b2b2b;
  text-decoration: none;
}

.user--info {
  @include clearfix();
}

.arrow {
  float: right;
  padding-right: 3%;
  padding-top: 2%;
}

.social {
  float: right;
  padding: 1%;
}

.facebook, .twitter, .instagram, .pinterest {
  display: inline-block;
}

.copyright {
  font-family: "Playfair Italic";
  font-size: 1.3em;
  padding: 2.5% 2% 2% 2%;
  float: left;
}

footer {
  background: white;
  @include clearfix();
}


.results-list {
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
  list-style: none;
}

    .result {
      margin: 0;
      margin-bottom: 1em;
      padding: 0;
      border: 2px solid $siteGrey;
    }

        .item--graphic {
          border-bottom: 2px solid $siteGrey;
          background: transparent no-repeat 50% 50% / cover;
          padding-top: 56.26%;
        }

        .item--content {
          @include clearfix();

          h1 {
            font-family: 'abolition';
            padding: 1rem;
            padding-bottom: 0;
            font-size: 2.25rem;
            line-height: 1.2;
            margin: 0;
          }

          .item--description {
            padding: 1em;
            padding-top: 0;
            padding-bottom: 4rem;
            border-bottom: 2px solid $siteGrey;
          }

          .square {
            width: 60px;
            height: 60px;
            border: 2px solid $siteGrey;
            margin-top: -33px;

            .pic {
              height: 100px;
              width: 100px;
              margin-left: -14px;
            }
          }
        }

        .item--renter {
          border-bottom: 2px solid $siteGrey;
          padding-bottom: 1.5em;
        }

        .item--renter--name {
          display: inline-block;
          font-family: "Playfair Italic";
          text-transform: uppercase;
          margin: 10px 0 0 -20px;
          font-size: 1.125rem;
        }

        .item--price,
        .item--distance {
          float: left;
          width: calc(50% - (1em + 1px));
          padding: .5rem;
          img {
            vertical-align: middle;
            height: 37px;
          }

          .amount {
            font-family: "Playfair Italic";
            font-size: 1.125rem;
            text-transform: uppercase;
            vertical-align: middle;
          }
        }

        .item--price {
          border-right: 1px solid $siteGrey;
        }

        .item--distance {
          border-left: 1px solid $siteGrey;
        }

        .item--details_link {
          clear: both;
          border-top: 2px solid $siteGrey;
          background: $siteTan;
          a {
            display: block;
            font-family: abolition;
            font-size: 1.5rem;
            padding: 1rem;
            color: $siteGrey;
            background: url(/assets/icon-details.png) no-repeat right 50% / auto 24px;
          }
        }



@media only screen and (min-width: #{$tabletBreakpoint}) {
  .results-list {
    max-width: 960px;
  }

    .result {
      display: flex;

    }

    .item--graphic {
      width: 300px;
      padding-top: 0;
      border: 0;
      border-right: 2px solid $siteGrey;
    }

    .item--content {
      width: calc(100% - 300px);

      .item--description {
        margin-top: 0;
        padding: 0 1rem 1rem 1rem;
      }
    }

  .item--metadata {
    display: flex;
    align-items: stretch;
  }

  .item--price,
  .item--distance {
    float: none;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    white-space: nowrap;
  }

  .item--renter {
    position: relative;
    border: 0;
    border-right: 2px solid $siteGrey;
    padding: 0 2em 0 3em;
    .square {
      position: absolute;
      width: 35px;
      height: 35px;
      left: -46px;
      top: 7px;
      margin-top: 0;
      background: $siteGrey;

      .pic {
        height: 50px;
        width: 50px;
        margin-top: -8px;
        margin-left: -7px;
      }
    }
  }

  .item--renter--name {
    margin: 0;
    line-height: 53px;
  }

  .item--details_link {
    border-top: 0;
    border-left: 2px solid $siteGrey;
    width: 30%;

    a {
      line-height: 53px;
      padding: 0 3.5rem 0 1.5rem;
    }
  }
}